@model Sneaker.ViewModel.CartViewModel
@{
    ViewBag.Title = "Submit Order";
    Layout = "_UserLayout";
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li>
                            <a href="index1.html">Home<i class="ti-arrow-right"></i></a>
                        </li>
                        <li class="active">
                            <a href="blog-single.html">Checkout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="section-title">
            <h2>Complete Your Order Information Here</h2>
        </div>
    </div>
</div>

@if (@Model.PaymentId != null)
{
    <div class="row">
        <div class="col-8">
            <div class="section-title">
                <h3>You have completed the payment for the order @Model.PaymentId</h3>
            </div>
        </div>
    </div>
}

<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-12">
                <div class="checkout-form">
                    <!-- Form -->
                    <form class="form" method="post" asp-action="SubmitOrder" id="SubmitForm">
                        <input hidden asp-for="Invoices.Id"/>
                        <input asp-for="Invoices.PaymentId" hidden class="form-control" readonly value="@Model.PaymentId"/>
                        <input asp-for="Invoices.Country" hidden class="form-control" readonly value="Việt Nam"/>
                        @if (@Model.PaymentId != null)
                        {
                            <input asp-for="Invoices.PaymentMethod" hidden class="form-control" readonly value="PayPal"/>
                        }
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.FirstName">First Name<span asp-validation-for="Invoices.FirstName">*</span></label>
                                <input asp-for="Invoices.FirstName" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.LastName">Last Name<span asp-validation-for="Invoices.LastName">*</span></label>
                                <input asp-for="Invoices.LastName" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.Email">Email Address<span asp-validation-for="Invoices.Email">*</span></label>
                                <input asp-for="Invoices.Email" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.PhoneNumber">Phone Number<span asp-validation-for="Invoices.PhoneNumber">*</span></label>
                                <input asp-for="Invoices.PhoneNumber" required="required">
                            </div>
                        </div>
                        @* <div class="col-lg-6 col-md-6 col-12"> *@
                        @*     <div class="form-group"> *@
                        @*         <label asp-for="Invoices.State">State / City<span asp-validation-for="Invoices.State">*</span></label> *@
                        @*         <select id="p" asp-for="Invoices.State" required="required"> *@
                        @*         </select> *@
                        @*     </div> *@
                        @* </div> *@
                        @* <div class="col-lg-6 col-md-6 col-12"> *@
                        @*     <div class="form-group" id="districts"> *@
                        @*         <label asp-for="Invoices.District">Districts<span asp-validation-for="Invoices.District">*</span></label> *@
                        @*         <select id="d" asp-for="Invoices.District" required="required"> *@
                        @*         </select> *@
                        @*     </div> *@
                        @* </div> *@
                        @* <div class="col-lg-6 col-md-6 col-12"> *@
                        @*     <div class="form-group" id="wards"> *@
                        @*         <label asp-for="Invoices.Wards">Wards<span asp-validation-for="Invoices.Wards">*</span></label> *@
                        @*         <select id="w" asp-for="Invoices.Wards" required="required"> *@
                        @*         </select> *@
                        @*     </div> *@
                        @* </div> *@
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.State">State / City<span asp-validation-for="Invoices.State">*</span></label>
                                <input asp-for="Invoices.State" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.District">District<span asp-validation-for="Invoices.District">*</span></label>
                                <input asp-for="Invoices.District" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.Wards">Wards<span asp-validation-for="Invoices.Wards">*</span></label>
                                <input asp-for="Invoices.Wards" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.Address">Address Line<span asp-validation-for="Invoices.Address">*</span></label>
                                <input asp-for="Invoices.Address" required="required">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="form-group">
                                <label asp-for="Invoices.PostalCode">Postal Code<span asp-validation-for="Invoices.PostalCode">*</span></label>
                                <input asp-for="Invoices.PostalCode" required="required">
                            </div>
                        </div>
                    </form>
                    <!--/ End Form -->
                </div>
            </div>
            <div class="col-lg-4 col-12">
                <div class="order-details">
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>CART TOTALS</h2>
                        <div class="content">
                            <ul>
                                <li>Sub Total<span>$@Model.CartTotal</span></li>
                                <li>(+) Shipping<span>Free Ship</span></li>
                                <li class="last">Total<span>$@Model.CartTotal</span></li>
                            </ul>
                        </div>
                    </div>
                    <!--/ End Order Widget -->
                    <!-- Order Widget -->
                    <div class="single-widget">
                        <h2>Submit Order</h2>
                    </div>
                    <!--/ End Order Widget -->
                    <div class="single-widget get-button">
                        <div class="content">
                            <div class="button" type="submit">
                                <button class="btn" type="submit" form="SubmitForm">Submit an order</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<script>
    // $(document).ready(function (){
    //    $.ajax({
    //    url: 'https://provinces.open-api.vn/api/?depth=3',
    //    method: 'get',
    //    }) 
    // });




    const apiEndpoint = "https://provinces.open-api.vn/api/?depth=3";

    let apiData = [];
    const pOptions = document.querySelector("#p");
    let dOptions = document.querySelector("#d");
    let wOptions = document.querySelector("#w");
    dOptions.style.display = "block";
    wOptions.style.display = "block";
    const fecthApi = async () => {
        try {
            const request = await fetch(apiEndpoint);
            const response = await request.json();
            return response;
        } catch (error) {
            console.log(error);
        }
    };

    const appendProvince = async () => {
        const data = await fecthApi();
        console.log(pOptions);
        pOptions.style.display = "block";
        apiData = [...data];
        const firstOption = document.createElement("option");
        firstOption.disabled = true;
        firstOption.value = "default";
        firstOption.textContent = "";
        pOptions.appendChild(firstOption);
        pOptions.value = "default";
        data.map((item) => {
            const option = document.createElement("option");
            option.value = item.codename;
            option.innerHTML = item.name;
            pOptions.appendChild(option);
        });
    };

    const handleDchange = () => {
        wOptions.remove();
        wOptions = document.createElement("select");
        wOptions.id = "w";
        wOptions.classList.add('form-control');
        const wards = document.getElementById("wards");
        wards.appendChild(wOptions);
        const queryArr = dOptions?.value.split(" ");
        const chosenProvince = apiData.filter(
            (item) => item.codename === queryArr[1],
        );
        const arrayDistricts = chosenProvince[0]?.districts;
        const choosenDistrict = arrayDistricts.filter(
            (item) => item.codename === queryArr[0],
        );
        const firstOption = document.createElement("option");
        firstOption.disabled = true;
        firstOption.value = "default";
        wOptions.appendChild(firstOption);
        wOptions.value = "default";
        choosenDistrict[0]?.wards.map((item) => {
            const option = document.createElement("option");
            option.value = `${item.codename} ${pOptions.value}`;
            option.innerHTML = item.name;
            wOptions.appendChild(option);
        });
    };

    pOptions.addEventListener("change", (e) => {
        dOptions.remove();
        dOptions = document.createElement("select");
        dOptions.id = "d";
        dOptions.classList.add("form-control");
        dOptions.addEventListener("change", handleDchange);
        const districts = document.getElementById("districts");
        districts.appendChild(dOptions);

        const chosenProvince = apiData.filter(
            (item) => item.codename === pOptions.value,
        );

        if (chosenProvince[0]?.districts) {
            const { districts } = chosenProvince[0];
            const firstOption = document.createElement("option");
            firstOption.disabled = true;
            firstOption.value = "default";
            dOptions.appendChild(firstOption);
            dOptions.value = "default";
            districts.map((item) => {
                const option = document.createElement("option");
                option.value = `${item.codename} ${pOptions.value}`;
                option.innerHTML = item.name;
                dOptions.appendChild(option);
                dOptions.classList.add("districts");
            });
        }
    });

    appendProvince();


</script>