@model IEnumerable<Sneaker.Models.Invoice>
@{
    ViewBag.Title = "index";
    Layout = "_AdminLayout";
}

<div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <h3 class="page-title"> Overview</h3>
    </div>
</div>
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive-xl table mt-2">
            <table class="table my-0 table-hover" id="trademarkTable">
                <thead class="thead-light">
                </thead>
            </table>
        </div>
    </div>
</div>

<div>
    <partial name="_Remove" />
</div>

@section scripts {
    <script>
        var table = $(document).ready(function () {
            $('#trademarkTable').DataTable({
                info: false,
                ajax: {
                    url: '/Admin/GetUserInvoice',
                    dataSrc: ''
                },
                rowId: "id",
                columns: [
                    {
                        data: 'ownerId', title: 'User', render: function (data, row) {
                            return '<p id="ownerId' + row.id + '">' + data + '</p>';
                        }
                    },
                    {
                        data: 'isTeamOrder', title: 'Team Order'
                    },
                    {
                        data: 'createAt', title: "Create At", render: function() {
                            return new Date();
                        },
                        displayFormat: 'dddd D MMMM YYYY',
                        wireFormat: 'YYYY-MM-DD',
                    },
                ],
                order: [1, 'asc']
            });
            $('#trademarkTable tbody').on('click', 'tr', '#DeleteHandleClick', function () {
                const trademarkId = $(this).closest('tr').attr('id');
                document.getElementById('handleDeleteClick').setAttribute("href", "Trademark/RemoveTrademark/" + trademarkId);
                document.getElementById('modalTitle').innerText = "Are You Sure You Want To Remove This Trademark?";
                document.getElementById('modalWarning').innerText = "Warning! All Products of Trademark will be removed."
            });
        });
    </script>
}
