@model Sneaker.ViewModel.ItemTrademarkViewModel
@{
    ViewBag.Title = "Import";
    Layout = "_AdminLayout";
}


<div class="row">
    <div class="col-md-12">
        <form asp-action="Uploads" asp-controller="Item" id="SubmitForm" method="post" enctype="multipart/form-data">
            <div class="form-group row">
               <input type="file" name="FormFile" />
            </div>

        </form>
        <div class="row">
            <div class="col-md-9 col-lg-8"></div>
            <div class="col-md-3 col-lg-4">
                <input type="submit" form="SubmitForm" class="btn w-100 btn-accent" value="Create" />
            </div>
        </div>
    </div>
</div>
